/*主题*/
.main_top {
    background-color: #40555B;
}
.border_r {
    background-color: #819998;
}
.border_r:hover {
    color: #fff;
    background-color: #2AC5C0;
    border: #40555B 1px solid;
}
.layout-menu-left {
    background: #627F7E;
}
.ivu-menu-dark {
    background: #627F7E;
}
.ivu-menu-submenu-title:hover {
    background: #627F7E!important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title {
    color: rgba(255,255,255,.85);
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
    background: #819998;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
    background: #627F7E;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
    background: #2AC5C0!important;
    color: White;
}