
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>登陆页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="~/css/login/reset.css">
    <link rel="stylesheet" href="~/css/login/supersized.css">
    <link rel="stylesheet" href="~/css/login/style.css">
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="page-container">
        <h1>Login</h1>
        <form action="" method="post" id="myform">
            <input type="text" name="username" class="username" placeholder="用户名">
            <input type="password" name="password" class="password" placeholder="密码">
            <button type="button" onclick="login();">登陆</button>
            <div class="error"><span>+</span></div>
        </form>
    </div>
    @*<script src="~/js/jquery.min.js"></script>*@
    <script src="~/js/jquery-1.11.min.js"></script>
    <script src="~/js/login/supersized.3.2.7.min.js"></script>
    <script src="~/js/login/supersized-init.js"></script>
    <script src="~/js/login/scripts.js"></script>
    <script src="~/js/sweetalert2.min.js"></script>
</body>
</html>

